*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0%;
    background-color: #fffba7;
    border-bottom: 1px solid #ddd;
}

.imgLogo {
    height: 60px; /* Ajuste o tamanho do logo */
    width: auto; /* Mantém a proporção da imagem */
}

.botao-pesquisa, .botao-pessoa, .botao-carrinho {
    background: none;
    border: none;
    cursor: pointer;
}

.botao-pesquisa img, .botao-pessoa img, .botao-carrinho img {
    height: 40px; /* Ajuste o tamanho dos ícones */
    width: 40px; /* Ajuste o tamanho dos ícones */
}
.botao-pesquisa {
    margin-right: 15%;
}
.botao-pessoa {
    margin-right: 2%;
}
.botao-carrinho {
    margin-right: 5%;
}